* {
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 28;
    text-decoration: underline;
}

p {
    font-size: 24px;
    margin: 0;
}

img {
    max-width: 100%;
    width: 100%;
}

.description p {
    font-size: 18px;
}

.form-switch {
    text-align: center;
}

.container1 {
    width: 100%;
    max-width: 1536px;
    padding: 2rem 1.5rem;
    margin: 0 auto;
    min-height: 100vh;
}

.container1 > * + * {
    margin-top: 5rem;
}

.slides {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: white;
    background-color: white;
    /* padding: 40px 0; */
    text-align: center;
}

@media (max-width: 650px) {
    .slides {
        flex-direction: column;
    }
}

.slides-main {
    min-height: 100vh;
    flex-shrink: 1;
    gap: 2.5rem;
}

.lumen-img {
    transform: translateX(1.5rem);
    max-width: 32.5rem;
    flex-shrink: 1;
}

.slides-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.slides-hero-lead {
    font-size: 1.5rem;
    line-height: 1.2;
}

.lightbulb {
    max-width: 20rem;
    flex-shrink: 1;
    width: 100%;
}

time {
    text-align: center;
    font-size: 90px;
    margin-top: 0px;
    color: white;
}

a {
    text-align: center;
    margin-top: 0px;
    font-family: "Times New Roman", Times, serif;
}

c {
    text-align: center;
    font-size: 115px;
    margin-top: 0px;
    font-family: "Times New Roman", Times, serif;
    color: white;
}

O {
    text-align: center;
    font-size: 4rem;
    margin-top: 0px;
    font-family: "Times New Roman", Times, serif;
    color: rgb(0, 0, 0);
}

img.team-member {
    width: 130px;
    margin-bottom: 20px;
}

.icons {
    display: flex;
    gap: 1rem;
}

img#inst {
    width: 2rem;
    height: 2rem;
}
img#x {
    width: 2rem;
    height: 2rem;
}
img#face {
    width: 2rem;
    height: 2rem;
}
img#yt {
    width: 2rem;
    height: 2rem;
}

#arrow {
    position: fixed;
    right: 1rem;
    bottom: 50%;
    height: 70px;
    z-index: 10000;
}

#arrow > img {
    height: 70px;
}

img#vision {
    width: 100%;
}

image.logo {
    width: 100%;
}

button.carouselstyle {
    background: transparent;
    color: black;
    border: none;
}

span.carousel-control-next-icon {
    background-color: black;
}

span.carousel-control-prev-icon {
    background-color: black;
}

.vision-slides {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vision-slides-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.vision-slides-content > .vision-background {
    background-color: #117a88;
    align-self: stretch;

    display: grid;
    place-items: center;
}

@media (min-width: 650px) {
    .vision-slides-content {
        display: flex;
        flex-direction: row;
    }

    .vision-slides-content > div {
        max-width: 50%;
        width: 100%;
    }
}

.project-slides {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-slides-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
}

.carousel {
    border: 1px solid #117a88;
}

@media (min-width: 1200px) {
    .project-slides-content {
        display: flex;
        flex-direction: row;
    }

    .project-slides-content > * {
        max-width: 50%;
        width: 100%;
    }
}

.team-members-slides {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-members-images {
    display: grid;
    row-gap: 3rem;
    column-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    place-items: center;
    width: 100%;
}

.timer-slides-row {
    margin-left: 0;
    margin-right: 0;
}
